<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1077885224522-rvmdu0eok9trau6r1jpiqiiqet4s59vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077885224522-rvmdu0eok9trau6r1jpiqiiqet4s59vs</string>
	<key>API_KEY</key>
	<string>AIzaSyA6W6IVae8pg7DM_yvmglCTLUs6DQf2Eoo</string>
	<key>GCM_SENDER_ID</key>
	<string>1077885224522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gymbeam.ios</string>
	<key>PROJECT_ID</key>
	<string>gym-beam</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-beam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077885224522:ios:ead6e5ad6d41671c</string>
	<key>DATABASE_URL</key>
	<string>https://gym-beam.firebaseio.com</string>
</dict>
</plist>